Wersall_Lione/Project_3/db/*
Wersall_Lione/Project_4/db/*
Wersall_Lione/Project_4/output_files/*
Wersall_Lione/Project_4/Omdazz_Cyclon_IV_RZ401_top.qsf
Wersall_Lione/Project_4/Omdazz_Cyclon_IV_RZ401_top.qpf
