Wersall_Lione/Project_3/db/*
Wersall_Lione/Project_4/db/*
Wersall_Lione/Project_4/incremental_db/*
Wersall_Lione/Project_4/output_files/*
Wersall_Lione/Project_4/src/*.v.bak
Wersall_Lione/Project_4/*.v.bak
